html
  head
    title= "Ory ExpressJS Integration Example"
  body
    h1= "You are signed in with Ory!"

    p
      ul
        li
          a(href="/")
            | Go back home
        li
          a(href= logoutUrl)
            | Logout

    h2= "Ory Proxy JWT Payload"
    pre
      code= claims

    h2= "Incoming HTTP Headers"
    pre
      code= headers

    h2= "Identity from Ory SDK"
    pre
      code= identity
